@import url('@styles/graphic_chart.css');

.browse-database {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
}

.section {
  margin-bottom: 20px;
}

h2 {
  color: #555;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-item:hover {
  background-color: #f1f1f1;
}

.question-details {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%; /* Adjusted width to ensure table content fits */
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow-y: auto;
  transition: right 0.3s ease;
  z-index: 1000;
}

.question-details.visible {
  right: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--tertiary-color);
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  vertical-align: top;
}

td:first-child {
  font-weight: bold;
  width: 30%;
}