@import url('@styles/graphic_chart.css');

.browse-database {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .list-item {
    padding: 10px;
    margin: 5px 0;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .list-item:hover {
    background-color: var(--secondary-color);
  }